USE [master]
GO
/****** Object:  Database [MyDairyDB]    Script Date: 30-Apr-19 11:42:31 PM ******/
CREATE DATABASE [MyDairyDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyNotebook', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\MyNotebook.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MyNotebook_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\MyNotebook_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyDairyDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyDairyDB]
GO
/****** Object:  Table [dbo].[Test]    Script Date: 30-Apr-19 11:42:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Test] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Test] ON 

INSERT [dbo].[Test] ([Id], [Name]) VALUES (1, N'Rajat')
INSERT [dbo].[Test] ([Id], [Name]) VALUES (2, N'Rajesh')
INSERT [dbo].[Test] ([Id], [Name]) VALUES (3, N'Sumitra')
SET IDENTITY_INSERT [dbo].[Test] OFF
USE [master]
GO
